body{
  background-color: rgb(39, 39, 39);
}

#container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

h1{
  margin: 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 36px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
  background-image: linear-gradient(rgb(53, 53, 53), rgb(39, 39, 39));
  height: 100px;
  margin-top: 0px;
  margin-bottom: 25px;
}

input{
  height: 30px;
  width: 400px;
  background-color: rgb(243, 243, 243);
  border-radius: 6px;
}

button{
  color: white;
  height: 40px;
  width: 120px;
  background-color: cornflowerblue;
  border-radius: 3px;
}

#delete{
  height: 40px;
  width: 90px;
  background-color: rgb(247, 82, 60);
  border-radius: 3px;
}

button:hover{
  border-color: rgb(196, 196, 223);
  border: 2px;
}

/*example of aligning multiple images through their centers*/
.image {
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}